<a href="https://colab.research.google.com/github/Sahil-Chhabra-09/TOPSIS-Package/blob/main/Topsis_God.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing topsisGod

In [28]:
%pip install topsisGod

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: topsisGod in /usr/local/lib/python3.8/dist-packages (1.0.0)

## From topsisGod importing topsis

In [29]:
from topsisGod import topsis

## Reading data and displaying it

In [30]:
import pandas as pd
data = pd.read_csv("/content/Final_Solution.csv")
data

   Performance  Battery Life  Price  Weight
0            8             6   1000     2.0
1            9             8   1200     3.0
2            7             9    800     2.5
3            6             7    900     2.2

## Defining Weight array and Impact array and computing score

In [31]:
w = [0.7,0.25,0.5,0.23]
I = ['+', '+', '+', '-']
score = topsis(data, w, I)

In [32]:
score

[0.576912940441778,
 0.7786714468977263,
 0.33975986625950455,
 0.22955023361421467]

## Reranking the data using topsisGod's rerank and using it to rerank the data inplace

In [33]:
from topsisGod import rerank

In [34]:
rerank(data, score)

In [35]:
data

   Performance  Battery Life  Price  Weight     Score  Rank
1            9             8   1200     3.0  0.778671   1.0
0            8             6   1000     2.0  0.576913   2.0
2            7             9    800     2.5  0.339760   3.0
3            6             7    900     2.2  0.229550   4.0

In [36]:
data = pd.read_csv("/content/Final_Solution.csv")
rerank(data, score, inplace = False)

   Performance  Battery Life  Price  Weight     Score  Rank
1            9             8   1200     3.0  0.778671   1.0
0            8             6   1000     2.0  0.576913   2.0
2            7             9    800     2.5  0.339760   3.0
3            6             7    900     2.2  0.229550   4.0

In [37]:
data

   Performance  Battery Life  Price  Weight
0            8             6   1000     2.0
1            9             8   1200     3.0
2            7             9    800     2.5
3            6             7    900     2.2